<p id="notice"><%= notice %></p>

<%= form_with(model: [@category, Product.new ], local: true) do |form| %>
  <%= form.hidden_field :category_id, value: @category.id %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <tbody>
      <% @category.products.each do |product| %>
      <tr>
        <td class="mb-2">
          <%= product.name %>
        </td>
        <td class="mb-2">
          <%= product.price %>
        </td>
        <td class="mb-2">
          <%= link_to "Eliminar", category_product_path(@category, product), method: :delete, class:"btn btn-warning btn-sm" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
